<%- include('../include/head.ejs') %>
<div class="container">
    <div class="row mt-5 mb-2">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <a href="/add-product" class="btn btn-success">Add Product</a>
        </div>
    </div>
    <div class="row mt-5">
        <% if(prods.length > 0) { %>
            <% for (let product of prods) { %>
                <div class="col-md-3 mt-5">
                    <div class="card">
                        <img src='<%= product.imageUrl %>' class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= product.title %></h5>
                            <p class="card-text"><%= product.description %></p>
                            <p class="card-text"><%= product.price %></p>
                            <a href="/edit-product/<%= product._id %>?edit=true" class="btn btn-primary">Edit</a>
                            <form action="/delete-product" class="d-inline" method="POST" onsubmit="return confirm('Do you really want to submit the form?');">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" name="productId" value="<%= product._id %>">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
</div>
<%- include('../include/footer.ejs') %>